
{% extends "baes.html" %}

{% block content %}
<div class="container py-4">
  <form class="mb-4" method="post" action="{% url 'for_page' %}"> 
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputNumber" class="form-label">ตัวเลขที่ต้องการวนซ้ำ</label>
      <input type="number" class="form-control" id="exampleInputNumber" name="count" placeholder="กรอกตัวเลขเท่านั้น" min="1" required>
      <div id="textHelp" class="form-text">กรอกตัวเลขที่ต้องการนำไปวนซ้ำในตารางด้านล่าง</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        {% if table %}
          {% for row in table %}
          <tr>
            <th scope="row">{{ row.i }}</th>
            <td>{{ row.i }} x {{ row.number }}</td>
            <td>=</td>
            <td>{{ row.result }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}